{% extends 'base.html' %}

{% block title %}
SLA Calculator
{% endblock %}

{% block content %}
<h4>SLA Calculator</h4>
<br>
<p>
    Enter SLA:
</p>
<form action="/calcsla" method="POST">
    <input type="text" id="newsla" name="newsla" value="{{slaval}}" maxlength="8" size="10" autofocus>%&nbsp;&nbsp;
    <button class="btn btn-outline-primary" type="submit" style="width:100px">Calculate</button>
</form>
<br>
{% autoescape false %}
{{downtime}}
{% endautoescape %}
<br>
<br>
<div class="align-centre">

</div>
<br>

{% endblock %}