{% extends 'base.html' %}

{% block content %}

<h4>Welcome to LogNLoops!</h4>
<br>
<p>LogNLoops came about because I have a free server and domain name lying around doing nothing.</p>

<p>I am using this to consolidate the applications that I am woking on.</p>

<p>You can access the various applications through the links below or use the Nav bar at the top of the page.</p>

<p>
    <li><a href="https://lognloops.com/cardshuffle">Card Shuffle</a><br>
        I got interested in faro shuffle and wanted to see the deck order after every perfect faro.
        Suprisingly, I was not able to get any results from Google so here it is. <s>Since I (still) can't pull off
            perfect faros, I let this app do the heavy lifting. </s></li>
    <br>
    <li><a href="https://lognloops.com/slacalc">SLA Calculator</a><br>
        Quick calculator of how much downtime for SLA uptime % </li>
    <br>
    <li><a href="https://lognloops.com/koboupdates">Kobo Updates</a><br>
        This does web-scraping of <a href="https://us.kobobooks.com/collections/ereaders" target="_blank">Kobo
            eReader</a>
        page and sends email notifications when there are price changes or if an eReader is added/removed. </li>
</p>
<br>
<p align="right"><small><em>Site last updated: {{lastModDate}} UTC</em></small></p>

{% endblock%}