{% extends 'base.html' %}

{% block title %}
SLA Calculator
{% endblock %}

{% block content %}
<h4>SLA Calculator</h4>
<br>
<p>Enter SLA
</p>
<form action="/slacalc" method="POST">
    <input type="email" id="newsla" name="newsla" placeholder="New SLA" maxlength="32" size="30" autofocus>&nbsp;&nbsp;
    <button class="btn btn-outline-primary" type="submit" style="width:100px">Subscribe</button>
</form>
<em> {% if addedmessage %} Subscribed {{koboemail}} to Kobo Notifications! {% endif%}</em>
<br>
<br>
<div class="align-centre">

</div>
<br>

{% endblock %}